.Left {
  padding: 20px;
  width: 20%;
  border-right: 1px solid lightgrey;
  width: 60%;
}

/* .Left ul {
  list-style: none;
} */
.Left_filters {
  margin-bottom: 25px;
color: #8e8e9b;
font-size: smaller;
}
.Left_top {
margin-bottom: 25px;
color: #8e8e9b;
font-size: smaller;
}
.Left_top > p {
color: #3e3e52;
font-weight: bolder;
border-bottom: 1px solid #ddd;
padding-bottom: 10px;
}

.Left_filters__amenities>li{
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  max-width: fit-content;
}

.filter {
border-bottom: 1px solid #ddd;
padding: 10px;
}
.flexDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}
.flexDiv > p{
  margin: 5px;
}

input[type="checkbox"]{
   margin: 0px;
   border: 1px solid green;
}

.MuiSvgIconRoot {
  font-size: 1rem !important;
  margin-right: 2px !important;
}