
.form {
  display: flex;
  align-items: center;
  /* height: 50px;
  width: 900px; */
  margin: 210px 300px 0px 300px;

}
.form input {
  border: none; 
   height: 100%; 
   font-size: 16px;
   width: 100%;
}

.formDiv{
 
  width: 225px;
  border: 1px solid #d2d2d2;
  height: 46px;
  background-color: #fff;
   border: 1px solid red;
}
input:focus {
  outline: none;
}
 .form button {
    height: 46px;
    width: 144px;
    border-width: 0;
    background-color: #d74f57;
    color: #fff;
    font-size: 15px;
    font-weight: 700!important;
    font-style: normal;
    font-stretch: normal;
    text-transform: none;
}
/* .input-container input {
    border: none;
    box-sizing: border-box;
    outline: 0;
    padding: .75rem;
    position: relative;
    width: 100%;
} */

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}