.container{
    width: 750px;
    text-align: center;
    margin: 0 auto;
     margin-top: 16%;
    
}
.form {
  display: flex;
  align-items: center;


 } 


.formDiv{
  border: 1px solid #d2d2d2;
  height: 46px;
  width: 225px;
  background-color: #fff;
}
.formDiv > input{
  height: 46px;
  width: 225px;
}
.formDivDate{
  border: 1px solid #d2d2d2;
  height: 46px;
  width: 168px;
  background-color: #fff;
}
.formDivDate > input{
   height: 46px;
  width: 168px;
}
.formDivBtn{
   height: 46px;
    width: 144px; 

   /* height: 46px; */
}
.formDivBtn > input{
     height: 46px;
    width: 144px;
    border-width: 0;
    background-color: #d74f57;
    color: #fff;
    font-size: 15px;
    font-weight: 700!important;
    padding-left: 10px;
}

 input:focus {
  outline: none;
} 
/* .formDivBtn > button {
    height: 46px;
    width: 144px;
    border-width: 0;
    background-color: #d74f57;
    color: #fff;
    font- size: 15px;
    font-weight: 700!important; 
}  */


/* input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    width: auto;
} */