.numFlex{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.numTitle {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.heading-1 {
    font-size: 30px;
    line-height: 1.1em;
    color: #4a4a4a;
    font-weight: 600;
}

.sv {
    color: #da4e52;
    font-size: 46px;
    font-weight: 400;
}

.sp {
    color: #737373;
    letter-spacing: 2px;
    font-size: 14px;
}

.common-desc {
    width: 208px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}