.Inline_text,.Top_container{
    display: inline-flex;}
.Corporate_container,.Raws_container{
    padding:4em 7em ;
}
.Corporate_container,.Raws_container,.Faq_container{
    font-size: 18px;
    line-height: 30px;
    color:#3e3e52;

}
.Top_container{
    display: inline-flex; 
}
.Top_text{
    width: 60%;
}
.Text_grid{
    display:grid;
    grid-template-columns: repeat(2,48.8%);
    justify-content: space-between;
    
    
}
.Text_grid div>img{
    border-radius: 50%;
    width:25px;
    background-color:#D6F0E4;
    padding:1%;
}
.Text_grid >div{
    display: flex;
    align-items: center;
}
.Text_grid div>h4{
    font-weight: normal;
    padding-left: 2%;
}
.Inline_text{
    margin-bottom:50px;
}

.Number_cover{
    height: 28px;
    width: 28px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color:#e5ebf8;
}

.Number_cover{
    display: flex;
}
.Number_cover+span{
    padding-left: 1%;
}

.Raws_container{
    background-color:#f7f7f7 !important;
}
.Raw_image{
    width:99%;
}

/* FAQ page css */

.Faq_container{
    /* border: 1px solid black; */
    padding-left: 7em;
    width:92%;
    margin-bottom: 1%;
}
.Faq_container>h2{
    font-size:32px;
    padding: 40px 0px;

}

.Faq_head{
    /* border: 1px solid black; */
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    
    padding: 20px 0px;
}
.Faq_add_icon{
    border-radius: 50%;
    display:flex;
    align-items: center;
    background-color:#F9F9FD;

}
.Faq_add_icon>img{
    width: 25px;

}
.Faq_data{
    border-bottom: 1px solid #F1F1F1;

}
.Faq_container div>h5, .Faq_container div>p{
    font-size: 14px !important;
}

.Faq_inner_text{
    padding-bottom: 20px;
}
