/* *{
  border: 0px;
  margin: 0px;
  box-sizing: border-box;
} */

.main_container {
  width: 100%;
  height: 580px;
  background-color: #d84f57;
  /* position:absolute; */
}
.outstation_div {
  display: flex;
  position: absolute;
  /* margin:auto; */
  margin: 50px 110px;
  border-radius: 5px;
  /* border:1px solid black; */
  background-color: white;
  width: 83%;
  height: 55%;
}
.outstation_div img {
  padding-top: 30px;
}
.text1 {
  position: absolute;
  display: block;
  /* border:2px solid green; */
  margin: 140px 501px 502px 140px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  color: rgb(78, 74, 74);
}
.text2 {
  position: absolute;
  display: block;
  /* border:2px solid red; */
  margin: 120px 201px 502px 680px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  color: rgb(78, 74, 74);
}
.text3 {
  position: absolute;
  display: block;
  margin: 50px 201px 502px 680px;
  padding:8px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  background-color: #38B87C;
  font-size: 15px;
  height: 20px;
}
.text3 h3{
 margin-top:-8px;
}
.info_main_div {
  position: absolute;
  width: 82%;
  height: 100px;
  /* border: 1px solid blue; */
  margin-top: 400px;
  margin-left: 110px;
}
.info_flex {
  display: flex;
  /* border: 1px solid green; */
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: white;
  margin-bottom: -40px;
}
.info_flex p {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: white;
}
.t1_bh p {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  color: white;
}
.t2_bh p {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  color: white;
}

.app_click_bh .btn1_bh div {
  position: absolute;
  /* width: 200px;
    height:100px; */
  background-color: white;
  border-radius: 4px;
  margin: 427px 42px 21px 1042px;
  width:120px;
}

.app_click_bh .btn2_bh div {
  position: absolute;
  /* width: 200px;
    height:100px; */
  background-color: white;
  border-radius: 4px;
  margin: 480px 42px 21px 934px;
  width:120px;
}
