.vid_cont{
    width: 100%;
    height:380px;
  
    background-color: #F7F7F7;
   align-items: center;
 
   /* border:2px solid green; */
  
}
.vid_space{
 
    width:80%;
    height:300px;
    /* border:1px solid red; */
    margin:auto;
    margin-top:50px;
    display:flex;
  
   
}
.vid_content{
    /* border:1px solid maroon; */
    width:35%;
    font-family: "Montserrat", sans-serif;
}
.vid_content h1{
    color:#3E3E52;
}
.vid_content p{
    letter-spacing:1    px;
}

.vid_embedd{
    /* border:1px solid blue; */
    margin-left:60px;
    width:60%;
}